<!-- Navigation latérale -->
<nav class="nav-sidebar">
    <div class="nav-container">
        <div class="profile-picture-wrapper">
            <img src="/images/photo_de_profil.jpg" alt="Photo de profil" class="profile-picture">
        </div>
        <a href="/index.html" class="nav-logo">Roustan-Labouret <br> Albin</a>
        <div class="nav-links">
            <a href="/index.html" id="nav-home" class="nav-item">
                <i class="fas fa-home nav-icon"></i>
                <span>Accueil</span>
            </a>
            <a href="/competences.html" id="nav-competences" class="nav-item">
                <i class="fas fa-list-check nav-icon"></i>
                <span>Compétences</span>
            </a>
            <a href="/parcour.html" id="nav-parcour" class="nav-item">
                <i class="fas fa-graduation-cap nav-icon"></i>
                <span>Parcours</span>
            </a>
            <div class="nav-dropdown">
                <a href="/projets/projets.html" id="nav-projets" class="nav-item">
                    <i class="fas fa-code nav-icon"></i>
                    <span>Projets</span>
                </a>
                <div class="nav-submenu">
                    <a href="/projets/projets.html#projets-1ere" class="nav-subitem">1ère année</a>
                    <a href="/projets/projets.html#projets-2eme" class="nav-subitem">2ème année</a>
                </div>
            </div>
            <a href="/public/e6.html" id="nav-e5" class="nav-item">
                <i class="fas fa-award nav-icon"></i>
                <span>E6</span>
            </a>
            <a href="/stages.html" id="nav-stage" class="nav-item">
                <i class="fas fa-briefcase nav-icon"></i>
                <span>Stages</span>
            </a>
            <a href="/veilles.html" id="nav-veilles" class="nav-item">
                <i class="fas fa-newspaper nav-icon"></i>
                <span>Veilles</span>
            </a>
        </div>

        <!-- Liens sociaux -->
        <div class="nav-social">
            <div class="social-links">
                <a href="https://github.com/AlbinRL" target="_blank" class="social-link">
                    <i class="fab fa-github text-xl"></i>
                </a>
                <a href="https://www.linkedin.com/in/albin-roustan-labouret-5885732ab/" target="_blank" class="social-link">
                    <i class="fab fa-linkedin text-xl"></i>
                </a>
                <a href="roustan.a.pro@gmail.com" class="social-link">
                    <i class="fas fa-envelope text-xl"></i>
                </a>
                <a href="tel:0783994446" class="social-link">
                    <i class="fas fa-phone text-xl"></i>
                </a>
            </div>
        </div>
    </div>

</nav> 